{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-syntax-function-bind",
    "./babel-plugins/chain",
    "./babel-plugins/auto-import",
    "./babel-plugins/auto-name",
    "@babel/plugin-transform-react-jsx"
  ]
}
