@import url('https://rsms.me/inter/inter.css');

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: inherit;
  color: inherit;
  margin: 0;
}

* {
  background: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* Lightmode */
  --base-color: hsl(255, 100%, 100%);
  --base-shadow: #d0d0d0;
  --brightest-color: hsl(0, 100%, 0%);
  --background: #f8f9fe;
  --foreground: #262626;
  --card-background: #fff;
  --card-foreground: #262626;
  --shadow-color: rgba(0, 0, 0, 0.25);
  --highlight-color: #0099ff;
  --search-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-color: hsl(225, 6%, 11%);
    --base-shadow: hsl(216, 8%, 24%);
    --brightest-color: hsl(225, 100%, 100%);
    --background: #1f2023;
    --foreground: rgba(255, 255, 255, 0.75);
    --card-background: #27292d;
    --card-foreground: rgba(255, 255, 255, 0.9);
    --shadow-color: #010101;
    --highlight-color: #0099ff;
    --search-color: #171717;
  }
}

html {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  background: var(--background);
  color: var(--foreground);
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  font-size: calc(0.333vw + 1em);
  font-feature-settings: 'kern';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  font-variation-settings: 'wght' 450;
  letter-spacing: -0.022em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* + * {
  margin-top: 1.5em;
}

body,
br,
li,
dt,
dd,
th,
td,
option,
.vh + *,
label * {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.075rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@supports (font-variation-settings: normal) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Inter var', sans-serif;
    font-variation-settings: 'wght' 850;
  }
}

h1 > * + *,
h2 > * + *,
h3 > * + *,
h4 > * + *,
h5 > * + *,
h6 > * + * {
  margin-top: 0;
}

h1 > button,
h2 > button,
h3 > button,
h4 > button,
h5 > button,
h6 > button {
  border: none;
}

h1 {
  font-size: 1.75em;
  line-height: 2.25;
}

h2 {
  font-size: 1.5em;
  line-height: 1;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.75em;
}

h6 {
  font-size: 0.5em;
}

header[role='banner'] > h1 {
  display: flex;
  flex-direction: column;
}

header[role='banner'] > h1 > *:last-child {
  font-size: 0.4em;
  font-variation-settings: 'wght' 450;
  margin-top: -1.35em;
  margin-left: 3.5em;
}

svg.icon {
  width: 1.25em; /* Width is proportional to parent fs */
  height: 1.25em; /* Height is proportional to parent fs */
  display: inline-block; /* Flow with text content */
  vertical-align: middle; /* Vertically align icon with adjacent text */
  pointer-events: none;
}

button[disabled] {
  color: hsla(215, 29%, 92%, 0.562);
}

input[type='text'] {
  border: 1px solid var(--brightest-color);
  box-shadow: none;
  padding: 0.25em;
}

input[type='search'] {
  background: left 2% top 48% no-repeat
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");

  padding: 0.75rem 0.75rem 0.75rem 2.75rem;
}

@media (prefers-color-scheme: dark) {
  input[type='search'] {
    background: left 2% top 48% no-repeat
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
  }
}

input[type='search'].large {
  font-size: 1.5em;
}

input[type='search'].large:focus,
input[type='search'].large:hover {
  outline: none;
  box-shadow: 2px 2px 6px 1px var(--shadow-color);
}

input[type='text'],
input[type='search'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 2px;
  border: none;
  color: var(--foreground-color);
  background-color: var(--search-color);
  font-variation-settings: 'wght' 400;
  border: 1px solid var(--base-shadow);
  box-shadow: 0 0 2px 0 var(--base-shadow);
  border-radius: 1em;
  width: 100%;
  transition: box-shadow 0.25s ease-in-out;
}

/* Utilities */

ul.unstyled,
ol.unstyled {
  list-style: none;
  padding: 0;
}

ul.unstyled > li,
ol.unstyled > li {
  display: inline-block;
}

ul.unstyled > li:not(:last-child),
ol.unstyled > li:not(:last-child) {
  margin-right: 0.25rem;
}

.popularity-0 {
  font-size: 0.75em;
  font-variation-settings: 'wght' 500;
}

.popularity-1 {
  font-size: 1.25em;
  font-variation-settings: 'wght' 600;
}

.popularity-2 {
  font-size: 1.75em;
  font-variation-settings: 'wght' 700;
}

.popularity-3 {
  font-size: 2.25em;
  font-variation-settings: 'wght' 800;
}

.popularity-4 {
  font-size: 2.75em;
  font-variation-settings: 'wght' 900;
}

.popularity-5 {
  font-size: 3.25em;
  font-variation-settings: 'wght' 1000;
}

form + .card {
  margin-top: 3em;
}

.card {
  background: var(--card-background);
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: 1px 1px 4px 0 var(--shadow-color);
}

.centered-text {
  text-align: center;
}

.vh {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@media print {
  body > *:not(main) {
    display: none;
  }
}

/* pages */

.page {
  max-width: 40rem;
  width: 80vw;
  margin: auto;
}

.page.tag-cloud > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
